namespace: nginx-ingress
groups:
- name: nginx-ingress-rules
  rules:
    - alert: NginxHighHttp4xxErrorRate
      expr: 'sum by (ingress) (rate(nginx_ingress_controller_requests{ingress!="",status=~"^4.."}[5m])) > 15'
      for: 1m
      labels:
        severity: critical
        type: service
      annotations:
        summary: Nginx high HTTP 4xx error rate (instance {{ $labels.instance }})
        description: "Too many HTTP requests with status 4xx (> 15 )\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"

    - alert: NginxHighHttp5xxErrorRate
      expr: 'sum by (ingress) (rate(nginx_ingress_controller_requests{ingress!="",status=~"^5.."}[5m])) > 15'
      for: 1m
      labels:
        severity: critical
        type: service
      annotations:
        summary: Nginx high HTTP 5xx error rate (instance {{ $labels.instance }})
        description: "Too many HTTP requests with status 5xx (> 15)\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"

    - alert: NginxLatencyHigh
      expr: 'histogram_quantile(0.95, sum(rate(nginx_ingress_controller_request_duration_seconds_bucket[5m])) by (le, ingress)) >=10'
      for: 15m
      labels:
        severity: warning
        type: service
      annotations:
        summary: Nginx latency high (instance {{ $labels.instance }})
        description: "Nginx p95 latency is equal to 10 seconds\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"

    - alert: NginxHighRequestRate
      expr: 'sum(rate(nginx_ingress_controller_requests[5m])) by (ingress) > 200'
      for: 5m
      labels:
        severity: warning
        type: service
      annotations:
        summary: Nginx latency high (instance {{ $labels.instance }})
        description: "Nginx request rate is greater than 200 \n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"